<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>首页</title>
<style>
   button{
      color: rebeccapurple;
       width: auto;
       height: auto;
       border: 0;
       margin-top: 300px;
       font-size: 80px;
       line-height: 100px;
       background-color: transparent
  }

   body{
       text-align: center;
       background-size: 100%
  }
</style>
</head>

<body background="/static/3.jpg">
   <a href="login">
   <button type="submit">欢迎使用学生管理系统</button>
   </a>
</body>
</html>
